@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.container {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}

.img {
  height: 400px;
}

.container2 {
  margin-left: 15%;
  width: 400px;
  height: 400px;
  color: #f0f0f0;
  display: flex;
  background-color: #292929;
  transition: width 2s;
  border-radius: 10% 0% 0% 10%;
}

.container2:hover{
  width: 800px;
  color: #f0f0f0;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h2{
  font-size: 2.3em;
}

.h3{
  margin: 10px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: start;
  padding-left: 1em;
}

.divButton{
  margin-left: 5%;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #292929;
  border: none;
  cursor: pointer;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
  transform: rotate(-90deg);
}

.svgIcon path {
  fill: #f0f0f0;
}
