.selectContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    margin-left: 1em;
}
.h2{
    margin: 0;
    padding: 50px;
    display: inline-block;
    justify-content: center;
    color: #292929;
    font-size: 3em;
}

.select{
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5%;
    padding: 10px;
    margin: 1em;
    text-decoration: none;
}

.button{
    padding: 10px;
    border: none;
    border-radius: 5%;
    background-color: #292929;
    color: #f0f0f0;
    cursor: pointer;
  }
